<%= stylesheet_link_tag "sessionsnew.css" %>

<div class="container d-flex align-items-center min-vh-100 p-5">
    <div class="card col-12 bg-dark text-light" style="opacity: .92;">
        <div class="card-header text-center bg-dark">
            <h1>Register</h1>
        </div>
        <div class="card-body">
            <form action="/users" method="POST" class=text-center>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="form-group row">
                    <label class="col-1 mr-3 mb-3 mt-3" for="name"><i class="fas fa-user"></i></label>
                    <input class=col-10 type="name" id="name" name="user[name]" class="form-control" placeholder="Name">
                </div>
                <div class="form-group row">
                    <label class="col-1 mr-3 mb-3 mt-3" for="email"><i class="fas fa-envelope"></i></label>
                    <input class=col-10 type="email" id="email" name="user[email]" class="form-control" placeholder="Email">
                </div>
                <div class="form-group row">
                    <label class="col-1 mr-3 mb-3 mt-3" for="password"><i class="fas fa-key"></i></label>
                    <input class=col-10 type="password" id="password" name="user[password]" class="form-control" placeholder="Password">
                </div>
                <div class="form-group row">
                    <label class="col-1 mr-3 mb-3 mt-3" for="password_confirmation"><i class="fas fa-check"></i></label>
                    <input class=col-10 type="password" id="password_confirmation" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password">
                </div>
                <input type="submit" class="btn btn-warning text-center">
            </form>
            <div class="mt-2 text-center">
                <a href="/users/new">Alreday Registered? Login here...</a>
            </div>
        </div>
    </div>
</div>