<%= stylesheet_link_tag "root.css" %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Austin Bike Courier</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/orders">Order Now <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/sessions/new">Log In</a>
        </div>
        </div>
</nav>

<main class="wrapper">
    <section class="section parallax bg1 text-center">
        <h1>Independent Bike Courier Service</hi>
            <p>No VC money. No hidden fees.</p>
            <p>100% of your payment goes to the courier.</p>
    </section>
    <section class="section static bg-dark text-center">
        <h3 class="m-2">Place your order via the restaurants online ordering service and book a courier to deliver it to you in minutes.</h3>
    </section>
    <section class="section parallax bg2 text-center">
        <h1>Orders are guaranteed to be delivered by a professional bike courier. No cars or scooters here.</hi>
    </section>
    <section class="section static bg-dark" id="footer">
        <a href="/sessions/new" class=text-light><h1>Order Now</h1></a>
    </section>
</main>